.navigation_wrapper
{
    min-width: 100%;
    background-color: rgba(119, 119, 119, 0.781);
    height: 5px;
    border-radius: 30px;
    cursor: pointer;
}
.seek_bar{
    width: 0;
    height: 100%;
    background-color: rgb(24, 128, 3);
    border-radius: 30px;
}